.fullScreen {
    background:red;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.halfScreenLeft {
    background:rgb(72, 86, 100);
    position:absolute;
    top:0px;
    left:0px;
    width: 50%;
    height: 100%;
}

.leftSideHeader {
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 10%;
}

.leftSideHeaderTop{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 50%;
}

.leftSideHeaderBot{
    position:absolute;
    top:50%;
    left:0px;
    width: 100%;
    height: 50%;
}

.leftSideCheckers {
    background:rgb(255, 255, 255);
    position:absolute;
}

.leftSideFooter {
    position:absolute;
    bottom:0px;
    left:0px;
    width: 100%;
    height: 10%;
}

.halfScreenRight {
    background:rgb(0, 0, 0);
    position:absolute;
    top:0px;
    right:0px;
    width: 50%;
    height: 100%;
}

.leftSideHeaderBotB {
    position:absolute;
    top:0px;
    left:0px;
    width: 20%;
    height: 100%;
}

.leftSideHeaderBotScore {
    position:absolute;
    top:0px;
    left:20%;
    width: 60%;
    height: 100%;
}

.leftSideHeaderBotN {
    position:absolute;
    top:0px;
    right:0px;
    width: 20%;
    height: 100%;
}

.leftSideHeaderBotNL {
    position:absolute;
    top:0px;
    left:0px;
    width: 50%;
    height: 100%;
}

.leftSideHeaderBotNR {
    position:absolute;
    top:0px;
    right:0px;
    width: 50%;
    height: 100%;
}
